# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=webcafe
DB_USER=sa
DB_PASSWORD=NewPassword123!
DB_ENCRYPT=false

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

# Session Configuration
SESSION_SECRET=your_session_secret

# CORS Configuration
CORS_ORIGIN=http://localhost:3001,http://localhost:5173

# Google Translate API
GOOGLE_API_KEY=AIzaSyB-SFbtG8KHM-k-zt3tfCZuFxLEzVoaurA

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liLDKM3HbnUV9pVK
GITHUB_CLIENT_SECRET=69fd7da674079804a4b8ec6dee06b9ca91c3bb4ft

# Email Configuration
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
EMAIL_SERVICE=gmail

# Google OAuth  
GOOGLE_CLIENT_ID=829080747995-l9tr6smuhkpsctfnht1alo0gcq549fq4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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



